@model MvcWorkspace.Models.ExpenseCategory
@{
    ViewData["Title"] = "AddOrUpdate";
}


    <form method="post" asp-action="AddOrUpdate">
        <div class="p-3 col-12">
            <input type="hidden" asp-for="Id" />
            <h2 class="text-black-50 pl-3">Add Expense Category</h2>
            <div class="row col-6">
                <div class="pb-3">

                    <label asp-for="CategoryName" class="form-label"></label>
                    <input asp-for="CategoryName" class="form-control" />
                    <div asp-validation-for="CategoryName"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-3 text-start">
                    <a asp-action="Index" class="btn btn-outline-primary w-100 ">Back</a>
                </div>
                <div class="col-3 text-end">

                    @{
                        if (Model.Id == 0)
                        {
                            <input type="submit" class="btn btn-info w-100" value="Add Expense Category" />
                        }
                        else
                        {
                        <input type="submit" class="btn btn-info w-100" value="Update Expense Category" />
                        }
                    }
                </div>
                <br />
            </div>
        </div>
    </form>

@*Front End işler için*@
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}